@charset "utf-8";
/*controlFrm CSS Document */
body { background-color:#ffffff;}

#controlblock_btn{
	width:8px;
   	height:101px;
	position:absolute;
	left:0;
	top:30%;
	display:block;
  	cursor:pointer;
	}
#controlblock_btn.show,.show
{
    background:url(../themes/orange/images/btn_collapsible_close.jpg) no-repeat;
}

#controlblock_btn.hidden,.hidden
{
   background:url(../themes/orange/images/btn_collapsible_open.jpg) no-repeat;
}

